<div class = "container mt-5">
  <h2>Add a new restaurant here</h2>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.submit %>
  <% end %>
  <% if @restaurant.errors.any? %>
  <h3>The following errors prevented the article from being saved:</h3>
<% end %>
